
    <footer class="footer pb-6 bg-primary text-white pt-9 mt-n9">
        <div class="container">
            <div class="row mt-6">
                <div class="col-md-4">
                    <p><strong>Alohajunk</strong> Get rid of the Junk and smile. It’s your turn to start over. Get rid of the Junk and smile. It’s your turn to start over.</p>
                    <ul class="social-buttons mb-5 mb-lg-0">
                        <li>
                            <a href="https://twitter.com/themesberg" aria-label="twitter social link" class="icon icon-xs icon-white"
                                data-toggle="tooltip" data-placement="top" title="Follow us on Twitter">
                                <span class="fab fa-twitter"></span>
                            </a>
                        </li>
                        <li>
                            <a href="https://www.facebook.com/Themesberg-214738555737136/"
                                class="icon icon-xs icon-white" aria-label="facebook social link" data-toggle="tooltip"
                                data-placement="top" title="Like us on Facebook">
                                <span class="fab fa-facebook"></span>
                            </a>
                        </li>
                        <li>
                            <a href="https://github.com/themesberg" aria-label="github social link" class="icon icon-xs icon-white"
                                data-toggle="tooltip" data-placement="top" title="Star us on Github">
                                <span class="fab fa-github"></span>
                            </a>
                        </li>
                        <li>
                            <a href="https://dribbble.com/themesberg"
                                class="icon icon-xs icon-white" aria-label="dribbble social link" data-toggle="tooltip"
                                data-placement="top" title="Like us on Dribbble">
                                <span class="fab fa-dribbble"></span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <hr class="my-5">
            <div class="row">
                <div class="col mb-md-0">
                    <a href="#" target="_blank" class="d-flex justify-content-center">
                        <img src="/static/assets/img/logo.png" height="25" class="mb-3" alt="Themesberg Logo">
                    </a>
                <div class="d-flex text-center justify-content-center align-items-center" role="contentinfo">
                    <p class="font-weight-normal font-small mb-0">
                       Copyright &copy; 2022 AlohaJunk
                    </p>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    